.home {
  .blog {
    header {
      background-image: $concrete;
      margin-bottom: 50px;
      padding: 20px 0 10px;
      text-align: center;

      .tagline {
        padding: 0;
      }

      h2::after {
        margin: 0 auto;
        margin-top: 25px;
        position: static;
        width: 10%;
      }

      + section {
        @include container;
        @include prefix(2 of 24);
        @include suffix(2 of 24);
        margin: 100px 0;
      }
    }

    article {
      border-bottom: 1px dotted $silver;
      display: flex;
      flex-direction: row;
      height: auto;
      justify-content: flex-start;
      min-height: 160px;
      padding: 30px 0;

      &:last-child {
        border-bottom: 0;
      }

      .date {
        flex: 5;
        height: auto;
        padding-top: 10px;
        text-align: center;
        width: 70px;

        .day,
        .month {
          color: $black;
          display: block;
          font-size: 18px;
          line-height: .8em;
          text-transform: uppercase;
          width: 100%;
        }

        .month {
          padding: 3px 0;
        }

        .day {
          font-size: 24px;
        }
      }

      .post {
        flex: 20;
        padding-left: 20px;

        h3 {
          font-family: $alt-heading-font;
          font-size: 52px;
          font-weight: 100;
          line-height: 50px;
          margin: 0 0 20px;
          padding: 0;
        }

        p {
          font-size: 1.25em;
          font-weight: 100;
          line-height: 1.4em;
        }
      }
    }
  }
}




