.home {
  .about {
    article {
      @include container;
      @include prefix(4 of 24);
      @include suffix(4 of 24);
      margin: 50px 0;
    }

    header {
      background-image: none;
      height: auto;
      margin: 50px 0;
    }

    img {
      @include span(8 of 24);
      min-height: 400px;
    }

    p {
      font-size: 1.25em;
      font-weight: 100;
      line-height: 1.4em;
    }
  }
}


@media (min-width: 960px) {
  .home {
    .about {
      article {
        margin: 100px 0;
      }
    }
  }
}
