.home {
  .portfolio {

    header {
      background-image: $concrete;
      padding: 20px 0 10px;
      text-align: center;

      .tagline {
        padding: 0;
      }

      h2::after {
        margin: 0 auto;
        margin-top: 25px;
        position: static;
        width: 10%;
      }
    }

    .gallery {
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      -ms-flex-direction: column;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      -ms-flex-wrap: wrap;
      font-size: 0;
      margin: 100px;

      a {
        -webkit-box-flex: auto;
        -ms-flex: auto;
        flex: auto;
        margin: 5px;
        width: 300px;

        img {
          height: 100%;
          width: 100%;
        }
      }
    }

    footer {
      align-items: center;
      background-image: $concrete;
      color: $accent;
      display: flex;
      flex-wrap: wrap;
      height: 170px;
      justify-content: space-around;

      ul {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        height: 80%;
        justify-content: space-around;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
      }

      li {
        color: $mineshaft;
        font-size: 13px;
        height: 40px;
        text-transform: uppercase;
        width: 250px;

        span.number,
        span.heading {
          color: $accent;
          display: block;
          font-size: 30px;
          font-weight: 100;
          padding-bottom: 2px;
        }

        span.subheading {
          display: block;
        }
      }

      li::before {
        color: $accent;
        float: left;
        font-family: $icon-font;
        font-size: 3.2em;
        margin: 10px 3px;
        padding-right: 8px;
        text-align: center;
        width: 40px;
      }
    }

    li.experience::before {
      content: '\f133';
    }

    li.clients::before {
      content: '\f0f7';
    }

    li.projects::before {
      content: '\f121';
    }

    li.education::before {
      content: '\f19d';
    }

    li.for-hire::before {
      content: '\f0f7';
    }

    li.relocation::before {
      content: '\f0d1';
    }

    li.freelance::before {
      content: '\f0b1';
    }

    li.location::before {
      content: '\f041';
    }
  }
}
