.home {
  .portfolio {

    header {
      background-image: $concrete;
      padding: 20px 0 10px;
      text-align: center;

      .tagline {
        padding: 0;
      }

      h2::after {
        margin: 0 auto;
        margin-top: 25px;
        position: static;
        width: 10%;
      }
    }

    .gallery {
      @include container;
      @include prefix(4 of 24);
      @include suffix(4 of 24);
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      font-size: 0;
      -ms-flex-direction: column;
      -ms-flex-wrap: wrap;
      flex-flow: row wrap;
      margin: 100px 0;
      -webkit-flex-flow: row wrap;

      a {
        -webkit-box-flex: auto;
        -ms-flex: auto;
        flex: auto;
        margin: 5px;
        width: 300px;

        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
