.front-matter {
  footer {
    align-items: center;
    background-image: $concrete;
    color: $accent;
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    justify-content: space-around;

    ul {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      height: 80%;
      justify-content: space-around;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    li {
      color: $mineshaft;
      font-size: 13px;
      height: 40px;
      text-transform: uppercase;
      width: 250px;

      span.number,
      span.heading {
        color: $accent;
        display: block;
        font-size: 30px;
        font-weight: 100;
        padding-bottom: 2px;
      }

      span.subheading {
        display: block;
      }
    }

    li::before {
      color: $accent;
      float: left;
      font-family: $icon-font;
      font-size: 3.15em;
      margin-bottom: 5px;
      padding-right: 8px;
    }
  }

  li.for-hire::before {
    content: '\f0f7';
  }

  li.relocation::before {
    content: '\f0d1';
  }

  li.freelance::before {
    content: '\f0b1';
  }

  li.location::before {
    content: '\f041';
  }
}
