.home {
  header.home {
    background-image: url('../img/concrete_seamless.png');
    // background-size: cover;
    // border-bottom: 1px solid $silver;
    // filter: grayscale(100%);
    height: 700px;
    padding-top: 0;
    z-index: -1;

    .keywords {
      background-color: $cod-grey;
      color: $white;
      padding: 20px;
      position: absolute;
      top: 370px;
      width: 400px;
      z-index: 20;

      h2 {
        min-width: 300px;
      }
    }

    .tagline {
      color: $black;
      font-size: 22px;
      font-weight: 100;
      margin: 0 0 0 115px;
      padding: 10px 0;
    }

    .tagline::after {
      display: none;
    }

    h1 {
      margin: 0 0 25px 100px;
      padding: 190px 0 0 10px;
    }

    h2 {
      color: $white;
      font-family: 'Poppins';
      font-size: 14px;
      font-weight: 100;
      letter-spacing: .08em;
      margin: 0 0 15px 110px;
    }

    h2::after {
      display: none;
    }
  }

  .about {
    article {
      padding: 100px 0;
    }

    header {
      background-image: none;
      height: auto;
      margin: 50px 0;
      padding-bottom: 50px;
    }

    img {
      @include span(8 of 24);
      min-height: 400px;
    }

    header,
    p {
      @include span(14 of 24);
      margin: 0 0 0 span(2 of 24);
    }

    h2,
    .tagline {
      @include span(24 of 24);
      margin: 0;
    }
  }

  .portfolio header {
    background-image: url('../img/concrete_seamless.png');
    padding: 20px 0 10px 0;
    text-align: center;

    .tagline {
      padding: 0;
    }

    h2::after {
      margin: 0 auto;
      margin-top: 25px;
      position: static;
      width: 5%;
    }
  }
}




