body {
  color: $dove;
  font-family: 'Poppins';
  font-size: .9em;
  line-height: 1.5em;
}

em {
  font-family: 'Baskerville', 'Libre Baskerville';
  font-size: 1.35em;
}

h1 {
  color: $cod;
  //font-family: 'Abril Fatface';
  font-size: 66px;
  font-weight: bold;
}

h2,
h3,
h4,
h5,
h6 {
  color: $black;
  font-family: 'Poppins';
}

h2 {
  font-size: 42px;
  font-weight: 300;
  line-height: 1.25em;
  margin-bottom: 30px;
  margin-top: 8px;
  text-transform: uppercase;
}

h2::after {
  border-bottom: 1px solid $accent;
  border-top: 1px solid $accent;
  bottom: -20px;
  content: '';
  display: block;
  height: 5px;
  left: -36px;
  position: relative;
  width: 70px;
}

.tagline {
  color: $accent;
  font-family: 'Baskerville', 'Libre Baskerville';
  font-size: 1.25em;
  font-style: italic;
  font-weight: 100;
  //padding-bottom: 20px;
}

.tagline::after {
  content: '   //';
  font-size: .75em;
  padding-left: 10px;
}

.highlight {
  color: $accent;
}
