body {
  color: $dove;
  font-family: $sans-font;
  font-size: .9em;
  line-height: 1.5em;
}

h1 {
  color: $cod;
  //font-family: 'Abril Fatface';
  font-size: 66px;
  font-weight: bold;
}

h2,
h3,
h4,
h5,
h6 {
  color: $black;
  font-family: $sans-font;
}

h2 {
  font-size: 42px;
  font-weight: 300;
  line-height: 1.25em;
  margin-bottom: 30px;
  margin-top: 8px;
  text-transform: uppercase;
}

h2::after {
  border-bottom: 1px solid $accent;
  border-top: 1px solid $accent;
  content: '';
  display: block;
  height: 5px;
  margin-top: 20px;
  position: static;
  width: 70px;
}

.tagline {
  color: $accent;
  font-family: $serif-stack;
  font-size: 1.25em;
  font-style: italic;
  font-weight: 100;
  //padding-bottom: 20px;
}

.tagline::after {
  content: '   //';
  font-size: .75em;
  padding-left: 10px;
}

.highlight {
  color: $accent;
}

strong {
  font-weight: 600;
}

code,
pre,
samp {
  font-family: 'PT Mono';
  font-size: .75em;
}

pre {
  background-color: $mineshaft;
  color: $gallery;
  overflow: auto;
  padding: 10px;
}

@media (min-width: 931px) {
  h2::after {
    border-bottom: 1px solid $accent;
    border-top: 1px solid $accent;
    bottom: -20px;
    content: '';
    display: block;
    height: 5px;
    left: -36px;
    margin-top: 0;
    position: relative;
    width: 70px;
  }
}
