$debug: false;

/////////////////////////////////////////////////////////////////////
// Greyscale Colors
/////////////////////////////////////////////////////////////////////

$white:             rgb(255, 255, 255);           // #FFFFFF
$alabaster:         rgb(248, 248, 248);           // #F8F8F8
$gallery:           rgb(238, 238, 238);           // #EEEEEE
$mercury:           rgb(225, 225, 225);           // #E1E1E1
$alto:              rgb(221, 221, 221);           // #DDDDDD
$silver:            rgb(204, 204, 204);           // #CCCCCC
$dusty:             rgb(154, 154, 154);           // #9A9A9A
$dove:              rgb(102, 102, 102);           // #666666
$tundora-light:     rgb(77, 77, 77);              // #4D4D4D
$tundora:           rgb(68, 68, 58);              // #444444
$mineshaft:         rgb(56, 56, 56);              // #383838
$cod:               rgb(34, 34, 34);              // #222222
$charcoal:          rgb(20, 20, 20);              // #141414
$black:             rgb(0, 0, 0);                 // #000000

/////////////////////////////////////////////////////////////////////
// RYB Color Wheel
/////////////////////////////////////////////////////////////////////

$red:               hsla(360, 100%, 50%, 1);      // #ff0000
$vermilion:         hsla(7, 100%, 50%, 1);        // #ff4000
$orange:            hsla(7, 100%, 50%, 1);        // #ff8000
$amber:             hsla(45, 100%, 50%, 1);       // #ffc000
$yellow:            hsla(60, 100%, 50%, 1);       // #FEFF00
$chartreuse:        hsla(89, 100%, 47%, 1);       // #99eb00
$green:             hsla(120, 100%, 41%, 1);      // #00cc00
$viridian:          hsla(169, 100%, 35%, 1);      // #00ad91
$blue:              hsla(247, 100%, 56%, 1);      // #3333ff
$violet:            hsla(257, 86%, 54%, 1);       // #5533e6
$purple:            hsla(286, 56%, 60%, 1);       // #aa66cc
$magenta:           hsla(330, 100%, 50%, 1);      // #ff0080

/////////////////////////////////////////////////////////////////////
// Theme Colors
/////////////////////////////////////////////////////////////////////

$accent: lighten(mix($viridian, $blue, 85%), 10%);
$complement: complement($accent);

/////////////////////////////////////////////////////////////////////
// Typography
/////////////////////////////////////////////////////////////////////

$serif-font: 'Libre Baskerville';
$serif-stack: 'Baskerville', 'Libre Baskerville';
$sans-font: 'Poppins';
$alt-heading-font: 'Pathway Gothic One';
$alt-sans-font: 'Arial';
$icon-font: 'FontAwesome';
