footer.global {
  background-color: $charcoal;
  min-height: 399px;
  position: relative;

  ul.social-icons {
    background-color: $black;
    border-top: 1px dotted $dove;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 15px 0 20px;
    position: absolute;
    width: 100%;

    li {
      background-color: transparent;
      height: 34px;
      line-height: 34px;
      padding: 0 20px;
      text-align: center;
      width: 34px;

      &:hover {
        text-decoration: none;
      }
    }


    a {
      text-decoration: none;
      width: 34px;
    }

    a:hover {
      &::before {
        color: $accent;
        outline: none;
        text-decoration: none;
      }
    }

    a::before {
      color: $dove;
      font-family: $icon-font;
      font-size: 34px;
      padding: -1 0 0 5px;
    }


    [href*='angel']::before {
      content: '\f209';
    }

    [href*='behance']::before {
      content: '\f1b4';
    }

    [href*='codepen']::before {
      content: '\f1cb';
    }

    [href*='dribble']::before {
      content: '\f17d';
    }

    [href*='facebook']::before {
      content: '\f230';
    }

    [href*='github']::before {
      content: '\f09b';
    }

    [href*='instagram']::before {
      content: '\f16d';
    }

    [href*='linkedin']::before {
      content: '\f0e1';
    }

    [href*='medium']::before {
      content: '\f23a';
    }

    [href*='pinterest']::before {
      content: '\f0d2';
    }

    [href*='slideshare']::before {
      content: '\f1b4';
    }

    [href*='snapchat']::before {
      content: '\f2ab';
    }

    [href*='stackoverflow']::before {
      content: '\f16c';
    }

    [href*='tumblr']::before {
      content: '\f173';
    }

    [href*='twitter']::before {
      content: '\f099';
    }

    [href*='youtube']::before {
      content: '\f167';
    }
  }
}
