footer.global {
  background-color: $charcoal;
  color: $dove;
  min-height: 399px;
  position: relative;

  .gravatar {
    border: 1px solid $dove;
    border-radius: 50px;
    float: left;
    margin: 0 20px 0 0;
  }

  div {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
    padding: 30px 0;

    div {
      flex-direction: column;
      justify-content: flex-start;
      margin: 0;
      padding: 0;

      div {
        flex-direction: row;
      }

      .project {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        img {
          height: 140px;
          object-fit: contain;
          padding: 10px 25px;
          width: 175px;
        }

        img:first-child {
          padding-left: 0;
        }
      }
    }

    h3 {
      color: $white;
      font-weight: 500;
      margin-bottom: 0;
      text-transform: uppercase;
    }

    h3::after {
      border-bottom: 1px solid $accent;
      border-top: 1px solid $accent;
      bottom: -2px;
      content: '';
      display: block;
      height: 3px;
      left: 0;
      position: relative;
      width: 1em;
    }

    p {
      font-size: 18px;
      font-weight: 100;
      line-height: 1.3em;
    }

    footer {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      height: 170px;
      justify-content: space-around;
      padding: 40px 0 0 10px;

      ul {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 80%;
        justify-content: space-around;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
      }

      li {
        font-size: 13px;
        line-height: 1.8em;
        text-transform: uppercase;
        width: 300px;

        span.number,
        span.heading {
          display: block;
          font-size: 14px;
          font-weight: 100;
          padding-bottom: 2px;
        }
      }

      li::before {
        color: $dusty;
        float: left;
        font-family: $icon-font;
        font-size: 1.6em;
        padding-right: 8px;
        text-align: center;
        width: 40px;
      }
    }

    li.experience::before {
      content: '\f133';
    }

    li.clients::before {
      content: '\f0f7';
    }

    li.projects::before {
      content: '\f121';
    }

    li.education::before {
      content: '\f19d';
    }

    li.for-hire::before {
      content: '\f0f7';
    }

    li.relocation::before {
      content: '\f0d1';
    }

    li.freelance::before {
      content: '\f0b1';
    }

    li.location::before {
      content: '\f041';
    }
  }

  ul.social-icons {
    background-color: $black;
    border-top: 1px dotted $dove;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 15px 0 20px;
    position: absolute;
    width: 100%;

    li {
      background-color: transparent;
      height: 34px;
      line-height: 34px;
      padding: 0 20px;
      text-align: center;
      width: 34px;

      &:hover {
        text-decoration: none;
      }
    }


    a {
      text-decoration: none;
      width: 34px;
    }

    a:hover {
      &::before {
        color: $accent;
        outline: none;
        text-decoration: none;
      }
    }

    a::before {
      color: $dove;
      font-family: $icon-font;
      font-size: 34px;
      padding: -1 0 0 5px;
    }


    [href*='angel']::before {
      content: '\f209';
    }

    [href*='behance']::before {
      content: '\f1b4';
    }

    [href*='codepen']::before {
      content: '\f1cb';
    }

    [href*='dribble']::before {
      content: '\f17d';
    }

    [href*='facebook']::before {
      content: '\f230';
    }

    [href*='github']::before {
      content: '\f09b';
    }

    [href*='instagram']::before {
      content: '\f16d';
    }

    [href*='linkedin']::before {
      content: '\f0e1';
    }

    [href*='medium']::before {
      content: '\f23a';
    }

    [href*='pinterest']::before {
      content: '\f0d2';
    }

    [href*='slideshare']::before {
      content: '\f1b4';
    }

    [href*='snapchat']::before {
      content: '\f2ab';
    }

    [href*='stackoverflow']::before {
      content: '\f16c';
    }

    [href*='tumblr']::before {
      content: '\f173';
    }

    [href*='twitter']::before {
      content: '\f099';
    }

    [href*='youtube']::before {
      content: '\f167';
    }
  }
}

@media (max-width: 1300px) {
  footer .recent-projects {
    display: none !important;
  }

}

@media (max-width: 800px) {
  footer .work-status {
    display: none !important;
  }
}

@media (max-width: 500px) {
  footer.global div p {
    font-size: 18px;
  }
}
