// Credit: Modified version of Torben Colding's CodePen
// https://codepen.io/torbencolding/pen/OPwwOg

nav.main {

  ul {
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0 50px 0 0;
  }

  li {
    line-height: 43px;
    position: relative;
    text-align: center;
    width: 125px;
  }

  li:last-child {
    border-bottom: 0;
  }

  a,
  a:link,
  a:visited {
    color: $charcoal;
    display: block;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;

  }

  a:active,
  a:hover,
  a.selected:link,
  a.selected:visited {
    color: $accent;
  }

  a.selected {
    cursor: default;
  }

  input,
  label {
    border-radius: 2px;
    color: $charcoal;
    display: none;
    font-size: 1.6rem;
    height: 36px;
    line-height: 36px;
    text-align: center;
    width: 36px;
  }

  [type='checkbox'],
  [type='radio'] {
    display: none;
  }

  label {
    position: absolute;
    right: 8px;
    top: 8px;
    transition: .4s;
  }

  label:hover {
    cursor: pointer;
  }

  label::before {
    color: $charcoal;
    content: '\f00d';
    font-family: $icon-font;
    font-size: 24px;
    text-align: center;
  }

  [type="checkbox"]:not(:checked) + ul + label::before {
    color: $white;
  }
}

@media only screen and (max-width: 760px){
  nav.main {
    position: relative;

    ul {
      background: $charcoal;
      box-shadow: 0 0 5px rgba($black, .7);
      padding: 0;
      position: absolute;
      transform: translateY(0);
      transition: all .5s;
      width: 100%;
    }

    li {
      flex: none;
      padding: 0;
      width: 100%;
    }

    [type="checkbox"]:checked + ul {
      background: $dusty;
      transform: translateY(-100%);
      transition: all .5s;
      width: 100%;

      li:nth-child(1) {
        background: $dove;
        color: $white;
      }

      + label::before {
        content: '\f0c9';
      }
    }

    label {
      display: block;
     }

    a,
    a:link,
    a:visited {
      color: $white;
      font-size: 1.25rem;
    }

    a:active,
    a:hover {
      color: $accent;
    }
  }
}
