<article>
  <img src='http://via.placeholder.com/325x400' />
  <header>
    <div class="tagline">Introduction</div>
    <h2>About</h2>
  </header>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui atque autem, quo corrupti odio voluptas provident reprehenderit facilis quod nisi aspernatur velit officia, vitae mollitia eum error! Labore unde, aspernatur cumque dolorum, hic dolor animi maxime adipisci magni qui mollitia tempora atque suscipit perferendis, nisi delectus natus quibusdam exercitationem in! Architecto quaerat et assumenda a, veniam sunt ducimus non est odit debitis! Nobis itaque minus maiores harum. Ut expedita alias dolor assumenda rem unde debitis aliquam quaerat, ex officiis, consectetur sit, aperiam eum voluptate, repudiandae dignissimos deserunt tenetur magni.</p>
</article>
