.blog-posts,
.blog-categories {
  @include container;

  section.page {
    section.main {
      @include span(24 of 24);
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th {
    text-align: left;
  }

  td {
    border-top: 1px solid $alto;
    padding: 5px 0;
  }

  .published {
    width: 20%;
  }

  section {
    section {
      h2 {
        color: $black;
        text-transform: none;
      }

      h2::after {
        display: none;
      }
    }
  }

  .posts-list {
    article {
      border-bottom: 1px dotted $silver;
      display: flex;
      flex-direction: row;
      height: auto;
      justify-content: flex-start;
      min-height: 100px;
      padding: 30px 0;

      &:last-child {
        border-bottom: 0;
      }

      .date {
        flex: 5;
        height: auto;
        padding-top: 10px;
        text-align: center;
        width: 70px;

      }

      .day,
      .month {
        color: $black;
        display: block;
        font-size: 18px;
        line-height: .8em;
        text-transform: uppercase;
        width: 100%;
      }

      .month {
        padding: 3px 0;
      }

      .day {
        font-size: 24px;
        font-weight: 900;
      }

      .post {
        flex: 20;
        margin-top: 0;
        padding-left: 28px;
        padding-right: 50px;
      }

      h3 {
        border: 0;
        font-family: $alt-heading-font;
        font-size: 42px;
        font-weight: 100;
        line-height: 40px;
        margin: 0 0 20px;
        padding: 0;
      }

      p {
        font-size: 1.25em;
        font-weight: 100;
        line-height: 1.4em;
      }
    }
  }

  .categories-list {
    h3 {
      border: 0;
      font-family: $alt-heading-font;
      font-size: 42px;
      font-weight: 100;
      line-height: 50px;
      margin: 0 0 20px;
      padding: 0;
    }
  }
}

@media (max-width: 700px) {
  .blog-posts,
  .blog-categories {
    .posts-list {
      article {
        .day,
        .month {
          font-size: 18px;
        }

        .day {
          font-size: 20px;
        }

        .post {
          padding-right: 25px
        }

        h3 {
          font-size: 32px;
          line-height: 35px;
          margin: 0 0 20px;
        }

        p {
          font-size: 1em;
          line-height: 1.4em;
        }
      }
    }

    .categories-list {
      h3 {
        font-size: 32px;
      }
    }
  }
}
