.posts,
.blog-posts,
.blog-categories {
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th {
    text-align: left;
  }

  td {
    border-top: 1px solid $alto;
    padding: 5px 0;
  }

  .published {
    width: 20%;
  }

  section {
    section {
      h2 {
        color: $black;
        font-family: $alt-heading-font;
        text-transform: none;
      }

      h2::after {
        display: none;
      }
    }
  }
}
