.blog {
  @include container;

  section.page {
    margin: 100px 125px;

    section.main {
      @include span(16 of 24 first);
      @include suffix(2 of 24);
    }

    section.sidebar {
      @include span(6 of 24 last);
    }
  }

  header {
    [ng-if="filterOnName"] {
      color: $silver;

      &::after {
        border-bottom: 1px solid $accent;
        border-top: 1px solid $accent;
        bottom: -5px;
        content: '';
        display: block;
        height: 3px;
        left: 0;
        position: relative;
        width: 20px;
      }

      strong {
        color: $charcoal;
      }
    }

  }

  .post-count {
    background-color: $accent;
    border: 0;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 0 $gallery;
    color: $white;
    font-size: .5em;
    font-weight: normal;
    padding: 1px 5px;
    position: relative;
    top: -5px;
  }
}
