.post {
  margin-top: 50px;

  &:first-child {
    margin-top: 0;
  }

  h2 {
    color: $black;
    font-size: 32px;
    margin-bottom: 5px;
    text-transform: none;

    a,
    a:link,
    a:visited {
      color: inherit;
      text-decoration: none;
    }

    a:active,
    a:hover {
      color: $accent;
    }
  }

  h2::after {
    display: none;
  }

  h3 {
    border-bottom: 1px solid $alto;
    border-top: 1px solid $alto;
    color: $dusty;
    font-size: 12px;
    font-weight: normal;
    margin: .5em 0 1em;
    padding: 3px 0;

    span.date::before {
      // color: $accent;
      content: '\f133';
      font-family: $icon-font;
      margin-right: 5px;
    }

    span.author {
      &::before {
        // content: '\f007';
        content: 'by';
        font-family: $sans-font;
        font-style: normal;
        margin-right: 5px;
      }
    }

    span.categories {
      margin: 0 0 0 25px;

      &::before {
        // color: $accent;
        content: '\f02c';
        font-family: $icon-font;
        margin-right: 5px;
      }
    }

    span.comment {
      margin: 0 0 0 25px;

      &::before {
        // color: $accent;
        content: '\f0e6';
        font-family: $icon-font;
        margin-right: 5px;
      }
    }

    span.category {
      margin: 2px;

      &::after {
        content: ', ';
      }

      &:last-child::after {
        content: '';
      }

      a:link,
      a:visited {
        color: inherit;
        cursor: pointer;
        text-decoration: none;
      }

      a:hover,
      a:active {
        color: $accent;
      }
    }
  }

  header {
    h3 {
      border-top: 0;
      font-size: 14px;
    }
  }

  [ng-model='post.body'],
  [ng-model='data.post.body'] {
    a {
      color: $silver;
      cursor: pointer;
      text-decoration: none;
    }

    a:active,
    a:hover {
      color: $accent;
    }

    blockquote {
      background-color: lighten($accent, 50%);
      font-family: $sans-font;
      margin: 0;
      padding: 10px 50px;

      > p {
        font-family: $sans-font;
        margin-top: 0;
      }

      &::before {
        content: '\f10d';
        font-family: $icon-font;
        font-size: 20px;
        font-style: normal;
        left: -30px;
        position: relative;
        top: 20px;
      }
    }

    p {
      font-family: $serif-font;
    }

  }

}
