<div class="post" ng-controller="BlogController" ng-repeat='post in data.posts | filter:{Categories: {name: filterOnName}}' ng-if="post.published">
  <header>
  <h2>{{ post.title }}</h2>
  <h3>
    <span class="author">{{ post.author.displayName }}</span>
  </h3>
  </header>
  <md ng-model="post.body"></md>
  <footer>
    <h3>
      <span class="date">{{ post.datePublished | date: 'dd MMMM yyyy' }}</span>
      <span class="categories">
        <span class="category" ng-repeat='category in post.Categories'>
          <a href="/blog/categories/{{ category.id }}">{{ category.name }}</a>
        </span>
      </span>
    </h3>
  </footer>
</div>
<footer ng-controller="BlogController">
  Post Count: {{ data.count }}<br>
  Page Count: {{ data.pages.length }}
  <ul ng-repeat="page in data.pages">
    <li><a ng-init="limit = data.limit" ng-click="loadData({{page * limit}})">{{page + 1}}</a></li>
  </ul>
</footer>
