  <section>
  <h3>Education</h3>
  <article class="credential" ng-controller="SidebarController" ng-repeat='credential in data.credentials' ng-if='credential.visible == true'>
    <h4>
      {{ credential.organization}}
      <span class="year-completed">| {{ credential.dateCompleted | date: 'yyyy' }}</span>
    </h4>
    <p class="credential-title">{{ credential.credential }}</p>
    <p class="degree-major" ng-if="credential.major">{{ credential.major }}</p>
    <p class="degree-minor" ng-if="credential.minor">{{ credential.minor }}</p>
  </article>
  </section>

  <section>
  <h3>Skills</h3>
  <article class="skill" ng-controller="SidebarController" ng-repeat="(key, value) in data.skills | groupBy: 'category.name'">
    <h4>{{ key }}</h4>
    <p><span ng-repeat="skill in value" ng-class="{ experienced: skill.expertise, exposed: !skill.expertise }">{{ skill.name }}</span></p>
  </article>
  </section>

  <section>
  <h3>Community Service</h3>
  <article class="community-service" ng-controller="SidebarController" ng-repeat="service in data.communityService">
    <h4>{{ service.organization }}</h4>
    <p> {{ service.role }}</p>
  </article>
  </section>
