<nav class="breadcrumbs">
  <a ng-href="/blog/" target="_self">Blog</a><a ng-href="/blog/categories/" target="_self">Categories</a><span ng-if="category">{{ category.name }}</span>
</nav>

<h2 ng-if="data.posts">{{ category.name }}</h2>
<h2 ng-if="!data.posts">Categories</h2>
<div class="posts-list">
  <article ng-repeat="post in data.posts">
  <div class="date">
    <span class="day">{{ post.datePublished | date: 'dd' }}</span>
    <span class="month">{{ post.datePublished | date: 'MMM' }}</span>
    <!-- <span class="year">{{ post.datePublished | date: 'yyyy' }}</span> -->
  </div>
  <div class="post">
    <h3><a ng-href="/blog/posts/?id={{ post.id}}" target="_self">{{ post.title }}</a></h3>
    <p>{{ post.teaser }}</p>
  </div>
</article>
</div>

<div class="categories-list" ng-if="data.categories">
<article ng-repeat="category in data.categories">
  <h3><a ng-href="/blog?category={{ category.id }}&limit=3&offset=0" target="_self">{{ category.name }}</a></h3>
</article>
