<nav class="breadcrumbs">
  <a ng-href="/blog/" target="_self">Blog</a><a ng-href="/blog/categories/" target="_self">Categories</a><span ng-if="category">{{ category.name }}</span>
</nav>

<h2 ng-if="data.posts">{{ category.name }}</h2>
<h2 ng-if="!data.posts">Categories</h2>
<table class="posts" ng-if="data.posts">
  <thead>
    <th>Title</th>
    <!-- <th>Categories</th> -->
    <th class="published">Published</th>
  </thead>
  <tbody>
    <tr ng-repeat="post in data.posts">
      <td><a ng-href="/blog/posts/?id={{ post.id}}" target="_self">{{ post.title }}</a></td>
      <!-- <td>
        <span class="categories">
          <span class="category" ng-repeat='category in post.Categories'>
            <a href="#top" ng-click="filterByCategory(category)">{{ category.name }}</a>
          </span>
        </span>
      </td> -->
      <td>{{ post.datePublished | date: 'dd MMMM yyyy' }}</td>
    </tr>
  </tbody>
  <tfoot></tfoot>
</table>

<table class="posts" ng-if="data.categories">
  <thead>
    <th>Name</th>
  </thead>
  <tbody>
    <tr ng-repeat="category in data.categories">
      <td><a ng-href="/blog/categories/?id={{ category.id}}" target="_self">{{ category.name }}</a></td>
      <!-- <td>
        <span class="categories">
          <span class="category" ng-repeat='category in post.Categories'>
            <a href="#top" ng-click="filterByCategory(category)">{{ category.name }}</a>
          </span>
        </span>
      </td> -->
      <td>{{ post.datePublished | date: 'dd MMMM yyyy' }}</td>
    </tr>
  </tbody>
  <tfoot></tfoot>
</table>
