.credential {
  font-family: $alt-sans-font;
  font-size: .85em;
  margin: 0 0 7px;

  .credential-title {
    font-size: 1.1em;
  }

  h4 {
    color: $silver;
    font-family: $alt-heading-font;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    padding-right: 5px;

    span.year-completed {
      color: $black;
      font-size: 15px;
      font-weight: 300;
      padding-left: 5px;
      word-spacing: 5px;
    }
  }

  p {
    margin: 0;
    text-align: left;
  }

  .degree-major::before {
    content: 'Major: ';
    font-weight: bold;
  }

  .degree-minor::before {
    content: 'Minor: ';
    font-weight: bold;
  }
}
