.resume {
  section {
    header {
      h2 {
        padding-top: 5px;
      }

      h2::after {
        bottom: -10px;
      }
    }

    article {
      @include span(24 of 24);

      &.main {
        section.resume,
        aside.sidebar {
          color: $tundora;

          h3 {
            color: $black;
            font-size: 18px;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  @media (min-width: 300px) {
    article {
      &.main {
        @include container;
        padding: 20px;

        section.resume {
          @include span(24 of 24);
        }

        aside.sidebar {
          @include span(24 of 24);
        }

        section.resume,
        aside.sidebar {
          h3 {
            font-size: 18px;
          }
        }
      }
    }
  }

  @media (max-width: 959px) {
    aside.sidebar {
      section.skills {
        display: none;
      }
    }
  }

  @media (min-width: 960px) {
    article {
      &.main {
        @include container;
        padding: 50px 100px;

        section.resume {
          @include span(18 of 24 first);

          section.skills {
            display: none;
          }
        }

        aside.sidebar {
          @include span(6 of 24 last);
        }

        section.resume,
        aside.sidebar {
          h3 {
            font-size: 18px;
          }
        }
      }
    }
  }

  @media (min-width: 1400px) {
    article {
      &.main {
        padding: 50px 150px;
      }
    }
  }
}
