.resume {
  section {
    header {
      h2 {
        padding-top: 5px;
      }

      h2::after {
        bottom: -10px;
      }
    }

    article {
      @include span(24 of 24);

    }
  }

  article.main {
    @include container;
    padding: 50px 150px;

    section.resume {
      @include span(18 of 24 first);
    }

    aside.sidebar {
      @include span(6 of 24 last);
    }

    section.resume,
    aside.sidebar {
      color: $tundora;

      h3 {
        color: $black;
        font-size: 18px;
        text-transform: uppercase;
      }
    }
  }
}
