article.project {
  margin: 10px 0;

  h4 {
    color: $silver;
    font-family: 'Pathway Gothic One';
    font-size: 24px;
    font-weight: 100;
    margin: 15px 0 5px;

    &:first-child {
      margin-top: 0;
    }

    .role {
      color: $mineshaft;
      font-size: 20px;
      font-weight: normal;
    }
  }

  ul {
    margin: 0;
  }

  li {
    font-family: $alt-sans-font;
    font-size: .9em;
    padding: 0;
    width: 92%;
  }
}
