.community-service {
  font-family: 'Arial';
  margin: 0 0 10px;

  h4 {
    color: $silver;
    font-family: 'Pathway Gothic One';
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    padding-right: 5px;
  }

  p {
    font-size: .85em;
    margin: 0;
  }
}
