article.skill {
  h4 {
    font-family: 'Pathway Gothic One';
    font-size: 16px;
    margin: 5px 0 0;
    text-transform: uppercase;
  }

  p {
    font-family: 'Arial';
    font-size: .85em;
    margin: 5px 0;
    text-align: left;
  }

  span::after {
    color: $dove;
    content: ', ';
  }

  span:last-child::after {
    content: '';
  }
}

.exposed {
  color: $silver;
}

section h4 {
  font-family: 'Arial';
  font-size: 12px;
  font-weight: normal;
  margin: 0;
}
