<form action="form_submit" method="get" accept-charset="utf-8">
  <fieldset>
    <label for="name-field">Name</label>
    <input type="text" id="name-field" />
    <label for="email-field">E-mail</label>
    <input type="text" id="email-field" />
    <label for="subject-field">Subject</label>
    <input type="text" id="subject-field">
    <label for="message-field">Message</label>
    <textarea name="message-body" id="message-field" cols="30" rows="10"></textarea>
    <button name="submit">Send a Message</button>
  </fieldset>
</form>
