<article>
  <img src='http://via.placeholder.com/325x455' />
  <header>
    <div class="tagline">Introduction</div>
    <h2>About</h2>
  </header>
    <p>So they want to see your portfolio. Maybe somewhere in the back of your mind you know you need to create one. You know it could help your cause. But it is time consuming. It requires a lot of thought. It can be a bit disconcerting putting yourself out there on the internet for the world to see. What will you say about your work? How can you possibly distinguish yourself from all of the other (insert plural form of vocation here) in the world? So you hesitate. You put it off. You have great excuses and reasonable reasons to take pause. But every now and then you come across a new opportunity that makes you think <em>maybe, just maybe this is the perfect next step in my career</em>. And then you see that dreaded line in the job posting: <strong>Must have a portfolio to apply</strong>. You don’t have one, so you don’t apply. It is time to break this habit. It is time to show your work. It is time. This project was designed to help you get started.</p>
</article>
