<section>
<header>
  <p class="tagline">Portfolio</p>
  <h2>Featured Projects</h2>
</header>
  <div class="gallery">
    <a  ng-controller="PortfolioController" ng-repeat='portfolio in data.portfolios' href="{{ portfolio.url }}" target="_self">
      <img src="{{ portfolio.image }}" alt="{{ portfolio.abstract }}"  />
    </a>
  </div>
<footer>
  <ul>
    <li class="location"><span class="heading">Location</span><span class="subheading">Detroit Metro Area</span></li>
    <li class="for-hire"><span class="heading">Employed</span>Open to New Opportunities</li>
    <li class="relocation unavailable"><span class="heading">Willing</span>to Relocate</li>
    <li class="freelance"><span class="heading">Accepting</span>Freelance Work</li>
  </ul>
</footer>
</section>
