<header>
  <h3 ng-if="filterOnName">
    Category: <strong>{{ filterOnName }}</strong>
    <span class="post-count">
      <ng-pluralize count="filtered.length"
        when="{
          '0': '0 posts',
          '1': '1 post',
          'other': '{{ filtered.length }} posts'}">
      </ng-pluralize>
    </span>
  </h3>
</header>
<div class="post" ng-repeat='post in filtered = (data.posts | filter:{Categories: {name: filterOnName}}) | limitTo: 3' ng-if="post.published">
<article>
  <header>
    <h3 class="date">{{ post.datePublished | date: 'EEEE, dd MMMM yyyy' }}</h3>
    <h2><a ng-href="/blog/posts/?id={{ post.id}}" target="_self">{{ post.title }}</a></h2>
    <h4>
      <span class="author">{{ post.author.displayName }}</span>
    </h4>
  </header>
  <md ng-model="post.body"></md>
  <footer>
    <h4>
      <span class="time">{{ post.datePublished | date: 'shortTime' }}</span>
      <span class="categories">
        <span class="category" ng-repeat='category in post.Categories'>
          <a href="/blog/categories/?id={{ category.id }}" target="_self">{{ category.name }}</a>
        </span>
      </span>
      <span class="comment" ng-if="post.mediumUrl">
        <a href="{{ post.mediumUrl }}">Comment on Medium</a>
      </span>
    </h4>
  </footer>
</article>
</div>
